* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#wrapper {
    background-image: url("./images/background-image/background-image.jpg");
    height: 100vh;
    background-size: auto;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

#header {
    height: 7vh;
    background-color: #000000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    align-self: stretch;
    content: sticky;
}

#search-wrapper {
    position: relative;
    width: 200px;
    margin-top: 7px;
}

#search-dropdown {
    color: black;
    background-color: white;
    width: 200px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    border-radius: 10px;
}

#search-wrapper input {
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    font-size: 15px;
}
  
.search-item {
    border-bottom: 1px solid #3c3b3b;
    font-size: 15px;
}

.search-item:hover {
    color: #03afc8;
}

#home-button {
    cursor: pointer;
    color: #03afc8;
}

#home-button:hover {
    color: rgb(30, 201, 30);
}
  
#main-content {
    height: calc(100vh - 14vh);
    scroll-behavior: smooth;
}

#footer {
    position: absolute;
    bottom: 0;
    height: 5vh;
    color: #03afc8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    width: 100%;
    margin-top: 5px;
    
}

/*Characters*/
#character-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 70vw;
    gap: 10px;
    padding: 24px 0 0 24px;
}

.character-item {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    margin-bottom: 5%;
    width: 30%;
    border-radius: 13px;
    box-shadow: #b6b4b4 10px;
}

.character-item img:hover, .character-item div:hover {
    cursor: pointer;
}
  
.character-item p {
    text-align: center;
    font-size: 20px;
    padding: 10px;
    font-weight: 500;
    width: 100%;
}

.character-item img {
    width: 90%;
    padding-top: 5%;
}

.like {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(30, 201, 30);
    width: 50%;
    font-size: 20px;
    border: 1px solid rgb(7, 176, 66);
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 2px 3px #003300;
    transition: all 0.3s ease;
    cursor: pointer;
}

.fa-thumbs-up {
    border: none;
    text-align: center;
    font-weight: 500;
    width: 100%;
    height: 100%;
    padding: 20px;
}
  
.clicked {
    background-color: rgb(30, 201, 30);
    color: rgb(233, 229, 229);
}
  
.detail-wrapper {
    background-color: white;
    height: 85vh;
    width: 50vw;
    border: 5px solid #03afc8;
    padding: 5px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    border-radius: 13px;
}

.detail-wrapper h1, h2 {
    font-size: 50px;
    background-color: #03afc8;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 13px;
}

.single-page-image {
    width: 50%;
    height: 60%;
    align-self: center;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 13px;
}

.bio {
    height: 60%;
    width: 100%;
}

.bio h2 {
    font-size: 20px;
}

.bio-extra {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 18%;
    gap: 20px;
}

.darkerBg {
    font-size: 20px;
    text-align: center;
    width: 50%;
    /*background-color*/
    color: #03afc8;
    font-weight: bold;
}

.ligherBg {
    font-size: 20px;
    width: 50%;
    /*background-color:*/ 
    color: #03afc8;
    text-align: center;
}



@media (max-width: 1024px) {
    .like {
      width: auto;
    }
    .character-item {
      width: 45%;
}
  
@media (max-width: 1024px) {
    .detail-wrapper {
      margin-top: 10px;
      width: 100%;
      height: 80vh;
    }

    .bio {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    .detail-wrapper h1, .bio h2 {
      font-size: 26px;
    }

    .darkerBg, .ligherBg {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
    }
  
    .bio-extra h3, .bio-extra div {
      font-size: 20px;
      height: 20%;
      padding: 10px;
    }

    #header, #footer {
      font-size: 18px;
    }

    .single-page-image {
      width: 100%;
      height: 50%;
      align-self: center;
      padding-bottom: 5px;
      padding-top: 5px;
    }
  }
  
  @media (max-width: 425px) {
    .character-item {
      width: 100%;
    }

    #header, #footer {
      font-size: 16px;
    }
  }
}